.ReactModal__Overlay {
    background-color: rgba(0,0,0,.7) !important;
}

.ReactModal__Content {
    top: 50% !important;
    left: 50% !important;
    right: auto !important;
    bottom: auto !important;
    margin-right: -50% !important;
    transform: translate(-50%, -50%) !important;
    color: black;
    Width: 40%;
}